/* =======================
    Estilos del header
    =======================*/

.overlay {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    background-color: rgba(16, 14, 52, 0.35);
}

.header {
    width: 100%;
    height: 80px;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #100E34;
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .header {
        background-color: #FFFFFF;
        color: #0F0D18;
        -webkit-box-shadow: 15px 0px 38px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 15px 0px 38px 0px rgba(0, 0, 0, 0.1);
    }
}

.nav {
    display: none;
}

.nav__brand {
    display: block;
}

.nav__logo--white {
    width: 120px;
}

.nav__logo--black {
    display: none;
}

.nav__icon {
    color: #FFFFFF;
    margin: 0 .1rem;
    text-decoration: none;
}

@media (min-width: 992px) {
    .nav {
        height: 80px;
        padding: 0rem 1rem;
        display: block;
    }
    .nav__brand {
        padding: 0 3rem;
    }
    .nav__logo--black {
        display: block;
        width: 120px;
    }
    .nav__logo--white {
        display: none;
    }
}

.mobile_menu_open .navbar_container {
    -webkit-transform: translate(0%);
    transform: translate(0%);
    overflow: visible;
}

.mobile_menu_open .overlay {
    height: 100%;
}

.mobile_menu_open .hamburger_inner span:nth-child(1) {
    -webkit-animation: ease .7s .4s span_top_45 forwards;
    animation: ease .7s .4s span_top_45 forwards;
}

.mobile_menu_open .hamburger_inner span:nth-child(2) {
    -webkit-animation: ease .7s .4s span_scaled_1 forwards;
    animation: ease .7s .4s span_scaled_1 forwards;
}

.mobile_menu_open .hamburger_inner span:nth-child(3) {
    -webkit-animation: ease .7s .4s burger_bottom_135 forwards;
    animation: ease .7s .4s burger_bottom_135 forwards;
}

.mobile_menu_close .hamburger_inner span:nth-child(1) {
    -webkit-animation: ease .7s .4s span_top_2_45 backwards;
    animation: ease .7s .4s span_top_2_45 backwards;
}

.mobile_menu_close .hamburger_inner span:nth-child(2) {
    -webkit-animation: ease .7s .4s span_scaled_2 backwards;
    animation: ease .7s .4s span_scaled_2 backwards;
}

.mobile_menu_close .hamburger_inner span:nth-child(3) {
    -webkit-animation: ease .7s .4s span_bottom_2_135 backwards;
    animation: ease .7s .4s span_bottom_2_135 backwards;
}

.navbar_container {
    color: #FFFFFF;
    position: fixed;
    z-index: 999;
    background-color: #100E34;
    overflow: hidden;
    width: calc(100% - 50px);
    height: 100%;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.45s ease-in-out;
    transition: -webkit-transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
}

.navbar {
    display: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

@media (min-width: 992px) {
    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-items: center;
    }
    .navbar__item {
        height: 100%;
    }
    .navbar__link {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.01rem;
        color: #0F0D18;
        text-decoration: none;
        padding: 0 .5rem;
    }
}

.navbar_mobile {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
}

.navbar_mobile__item {
    display: block;
    float: none;
}

.navbar_mobile__link {
    padding: .8rem 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.3rem;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

.hamburger_box {
    padding: 20px;
    cursor: pointer;
}

.hamburger_box .hamburger_inner {
    width: 20px;
    line-height: 0;
}

.hamburger_box .hamburger_inner span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    vertical-align: top;
    background: currentColor;
}

.hamburger_box .hamburger_inner span+span {
    margin-top: 5px;
}

@media (min-width: 992px) {
    .hamburger_box {
        display: none;
    }
}

.hamburger_close {
    position: absolute;
    top: 54px;
    right: -50px;
}


/* =======================
    Animaciones hamburger button
    =======================*/

@-webkit-keyframes span_top_45 {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        top: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        top: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@keyframes span_top_45 {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        top: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        top: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@-webkit-keyframes span_top_2_45 {
    0% {
        top: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes span_top_2_45 {
    0% {
        top: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes span_scaled_1 {
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes span_scaled_1 {
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes span_scaled_2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes span_scaled_2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes burger_bottom_135 {
    0% {
        bottom: 0px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        bottom: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        bottom: 7px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}

@keyframes burger_bottom_135 {
    0% {
        bottom: 0px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        bottom: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        bottom: 7px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}

@-webkit-keyframes span_bottom_2_135 {
    0% {
        bottom: 7px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    50% {
        bottom: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes span_bottom_2_135 {
    0% {
        bottom: 7px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    50% {
        bottom: 7px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}


/*# sourceMappingURL=styles.css.map */