language: nodeCreate public and private SSH keysjs
nodejs:
- 12.18.1
notifications:
  email:
    onfailure: change
    onsuccess: change
addons:
  sshknownhosts:
  - 161.35.235.65 # your droplet IP goes here
branches:
  only:
  - master
env:
  global:
  - REMOTEAPPDIR=/var/www/test.jesusamador.com/
  - REMOTEUSER=travis
  - REMOTEHOST=161.35.235.65 # your droplet IP goes here
  - PORT=8080
beforeinstall:
- npm install -g npm@^2
install:
- npm install --only=dev
# beforescript:
# - chmod 600 deploy && mv deploy ~/.ssh/idrsa
script:
- npm run build
after_success:
- "./scripts/deploy.sh"


# language: node_js
# node_js:
#   - 12.18.1
# env:
#   global:
#   - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
# addons:
#   ssh_known_hosts: test.jesusamador.com
# branches:
#   only:
#   - master
#   - staging
#  before_install:
#   - rvm install 2.2.2
#   - openssl aes-256-cbc -K $encrypted_0ddd2445e49f_key -iv $encrypted_0ddd2445e49f_iv
#     -in travis_rsa.enc -out travis_rsa -d
#   - chmod 600 ~/.ssh/travis_rsa
# install:
#   - npm install
# deploy:
#   skip_cleanup: true
#   provider: script
#   script: .travis/deploy.sh
#   on:
#     all_branches: true
# notifications:
#   email: false
#   slack:
#     secure: rWg9[...]x69