language: node_js
node_js:
- 12.18.1
notifications:
  email:
    on_failure: change
    on_success: change
addons:
  ssh_known_hosts:
  - 161.35.235.65
branches:
  only:
  - master
env:
  global:
  - REMOTEAPPDIR=/var/www/test.jesusamador.com/html/
  - REMOTEUSER=travis
  - REMOTEHOST=161.35.235.65
  - PORT=8080
# before_install:
# - npm install -g npm@^2
install:
# - npm install --only=dev
before_script:
# - chmod 600 travis && mv travis ~/.ssh/idrsa
script: 
# - npm run build
after_success:
- "./scripts/deploy.sh"
before_install:
- openssl aes-256-cbc -K $encrypted_0ddd2445e49f_key -iv $encrypted_0ddd2445e49f_iv
  -in travis_rsa.enc -out travis_rsa -d
