language: node_js
nodejs:
- 12.18.1
notifications:
  email:
    onfailure: change
    onsuccess: change
addons:
  sshknownhosts:
  - 161.35.235.65
branches:
  only:
  - master
env:
  global:
  - REMOTEAPPDIR=/var/www/test.jesusamador.com/html/
  - REMOTEUSER=deploy
  - REMOTEHOST=161.35.235.65
  - PORT=8080
beforeinstall:
- npm install -g npm@^2
install:
- npm install --only=dev
beforescript:
- chmod 600 deploy && mv deploy ~/.ssh/idrsa
script: 
after_success:
- "./scripts/deploy.sh"
before_install:
- openssl aes-256-cbc -K $encrypted_0ddd2445e49f_key -iv $encrypted_0ddd2445e49f_iv
  -in travis_rsa.enc -out travis_rsa -d
