/* =======================
    Animaciones hamburger button
    =======================*/

@keyframes span_top_45 {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 7px;
        transform: rotate(0);
    }
    100% {
        top: 7px;
        transform: rotate(45deg);
    }
}

@keyframes span_top_2_45 {
    0% {
        top: 7px;
        transform: rotate(45deg);
    }
    50% {
        top: 7px;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes span_scaled_1 {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes span_scaled_2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes burger_bottom_135 {
    0% {
        bottom: 0px;
        transform: rotate(0);
    }
    50% {
        bottom: 7px;
        transform: rotate(0);
    }
    100% {
        bottom: 7px;
        transform: rotate(135deg);
    }
}

@keyframes span_bottom_2_135 {
    0% {
        bottom: 7px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 7px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.anim-typewriter {
    animation: typewriter 4s steps(36) 1s 1 normal both, blinkTextCursor 500ms steps(36) 1s 1 normal both;
}