.btn {
    display: block;
    font-family: $font1;
    padding: 1rem 2.3rem;
    text-decoration: none;
    letter-spacing: 0;
    border-radius: 5px;
    &__cv {
        background-color: $My-Color-Theme-1-hex;
        color: $My-Color-Theme-5-hex;
    }
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: $My-Color-Theme-3-hex;
    background: white;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    transition: .5s;
    margin: 1rem 1rem 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $My-Color-Theme-1-hex;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
    }
    &:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px $My-Color-Theme-1-hex;
    }
    &:hover {
        box-shadow: 0 0 5px $My-Color-Theme-1-hex;
        text-shadow: 0 0 5px $My-Color-Theme-1-hex;
        color: $My-Color-Theme-1-hex;
    }
}