/* =======================
    Variables de colores
    =======================*/


/* Color Theme Swatches in Hex */

$My-Color-Theme-1-hex: #1E72FA;
$My-Color-Theme-2-hex: #100E34;
$My-Color-Theme-3-hex: #0F0D18;
$My-Color-Theme-4-hex: #CECED8;
$My-Color-Theme-5-hex: #FFFFFF;
$My-Color-Theme-6-hex: rgb(97, 97, 97);

/* Color Theme Swatches in RGBA */

$My-Color-Theme-1-rgba: rgba(30, 114, 250, 1);
$My-Color-Theme-2-rgba: rgba(16, 14, 52, 1);
$My-Color-Theme-3-rgba: rgba(15, 13, 24, 1);
$My-Color-Theme-4-rgba: rgba(206, 206, 216, 1);
$My-Color-Theme-5-rgba: rgba(255, 255, 255, 1);

/* Color Theme Swatches in HSLA */

$My-Color-Theme-1-hsla: hsla(217, 95, 54, 1);
$My-Color-Theme-2-hsla: hsla(243, 57, 12, 1);
$My-Color-Theme-3-hsla: hsla(250, 29, 7, 1);
$My-Color-Theme-4-hsla: hsla(240, 11, 82, 1);
$My-Color-Theme-5-hsla: hsla(0, 0, 100, 1);