.about {
    position: relative;
    &__waistband {
        position: relative;
        z-index: 2;
        color: $My-Color-Theme-4-hex;
        line-height: 1;
        white-space: nowrap;
        margin-left: calc(70px + 1rem);
        margin-top: 1.3rem;
        &::before {
            content: '';
            width: 70px;
            position: absolute;
            top: 0.6em;
            right: calc(100% + 1rem);
            height: 1px;
            background-color: $My-Color-Theme-4-hex;
        }
        @include respond-to(lg) {
            position: absolute;
            margin: 0;
            right: calc(100% + 1.5rem);
            transform-origin: right;
            top: 0;
            transform: rotate(-90deg);
        }
    }
    &__image {
        padding: 0 1rem;
    }
    &__content {
        position: relative;
    }
    &__title {
        font-family: $font2, monospace;
        font-size: 1.5rem;
        color: $My-Color-Theme-3-hex;
        @include respond-to(lg) {
            font-size: 2.3rem;
        }
    }
    &__text {
        color: $My-Color-Theme-6-hex;
        margin-bottom: 1rem;
    }
    &__redes_sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(md) {
            justify-content: flex-start;
        }
    }
}

.main_about {
    // background-image: url(../../img/back_about.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    @include respond-to(lg) {
        // background-image: url(../../img/back_about.svg);
        background-position: center;
        background-size: cover;
    }
}