.about {
    &__image {
        padding: 0 1.5rem;
    }
    &__title {
        font-family: $font2, monospace;
        font-size: 1.5rem;
        color: $My-Color-Theme-3-hex;
        @include respond-to(lg) {
            font-size: 2.3rem;
        }
    }
    &__text {
        color: $My-Color-Theme-6-hex;
        margin-bottom: 1rem;
    }
    &__redes_sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 40px;
            height: 40px;
            color: $My-Color-Theme-3-hex;
            background: white;
            text-align: center;
            border-radius: 50%;
            font-size: 20px;
            transition: .5s;
            margin: 0 1rem;
        }
        a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: $My-Color-Theme-1-hex;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
        }
        a:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 15px $My-Color-Theme-1-hex;
        }
        a:hover {
            box-shadow: 0 0 5px $My-Color-Theme-1-hex;
            text-shadow: 0 0 5px $My-Color-Theme-1-hex;
            color: $My-Color-Theme-1-hex;
        }
        @include respond-to(md) {
            justify-content: flex-start;
        }
    }
}