.hero {
    &__image {
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0 2rem;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__content {
        grid-row-start: 2;
        font-family: $font2, monospace;
        line-height: 1.2;
        letter-spacing: 0.07rem;
    }
    &__title {
        font-size: 1.3rem;
        color: $My-Color-Theme-3-hex;
        margin-bottom: 1rem;
    }
    &__subtitle {
        color: $My-Color-Theme-1-hex;
        font-size: 1.2rem;
        margin-bottom: 1.4rem;
    }
    &__contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem;
    }
    &__text {
        font-family: $font1;
        color: $My-Color-Theme-6-hex;
        letter-spacing: 0;
    }
    &__email {
        margin-bottom: 1rem;
    }
    &__email,
    &__github {
        p {
            font-weight: 700;
            margin-bottom: .85rem;
        }
        a {
            font-family: $font1;
            text-decoration: none;
            font-size: 1rem;
            color: $My-Color-Theme-6-hex;
            letter-spacing: 0;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    @include respond-to(md) {
        &__image {
            grid-column: 2;
        }
        &__content {
            grid-column: 1;
            grid-row: 1;
        }
        &__title {
            font-size: 2.3rem;
        }
        &__subtitle {
            font-size: 2.1rem;
        }
    }
    @include respond-to(lg) {
        &__image {
            padding: 0 3.5rem;
        }
        &__title {
            font-size: 2.7rem;
        }
        &__subtitle {
            font-size: 2.5rem;
        }
    }
}

main {
    background-image: url(../../img/background_movil2.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    @include respond-to(lg) {
        background-image: url(../../img/back_hero.svg);
        background-position: center;
        background-size: cover;
    }
}